
.fondo{
	
	background: url(../img/fondo4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body h1{
    text-align: center;
    padding-top: 100px;
	color: white;
    font-size: 90px;
}
.botones button{
	padding: 15px 25px;
	border: 1px solid white;
	border-radius: 7px;
	color: white;
	font-size: 20px;
	margin-bottom: 10%;
    background: transparent;
}

.botones{
	bottom: 0px;
	position: absolute;
	bottom: 0 !important;
	bottom: -1px;
	width: 100%;
	text-align: center;
}
/*Sing UP------*/
.tituloSing
{
    color:black;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    padding: 10px;
    
}
p{
    text-align: center;
    
}
.alinear
{
 
    width: 90%;
    
}
section .albutton
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin:0 auto;
    
}
.btn
{
    color: #fff;
    background-color:#ff00bf; 
}
.retornar a
{
   margin-top: 20px;
   font-size: 40px;

}
.ulformat
{
  background: #efeff4;  
  height: 40px;
  padding-left: 20px;
   
}
.ulformat li
{
   height: 50px;
   border-bottom: 2px solid #efeff4; 
   text-decoration: none;
   list-style: none;
   
   margin-top: 30px;
}
/*.cnt-banderas
{
    overflow: scroll;
}*/

.input-group{
    margin-bottom: 20px;
}
.mapButton
{
    width: 100%;
    background: #371a83;
}
.mapLabel
{
    width: 100%;
    margin-bottom: 5px;
    background:#fff;
    border: 1px solid #dbd8cf;
    border-radius: 10px;
    height: 50px;
    padding: 0px;
    
}
#flag-selected
{
    width: 20px;
    height: 20px;
}
p
{
    padding: 0px;
    margin-left: 20px;
    color: darkgray;
    text-align: left;
    align-items: center;
    display: inline-block
}
p i
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    
}
small
{margin-top:  10px;
margin-left: 30px;}

.btnEleccion
{
 height: 50px;
 border-radius: 10px;
 padding-top: 20px;
     
}

